<div class="panel panel-default">
    <div class="panel-heading" align="left">
        <h4>About</h4>
    </div>
    <div class="panel-body" style="font-size:large;">
        The current project is made for the purpose of an Undergraduate Thesis with subject:
        <p style="font-weight: bold;">Continuous Authentication Using Behavioral Biometrics.</p>
        <ul style="list-style-type:disc">
            <li><strong>Developer:</strong> <a href="mailto:tasoskakour@gmail.com">Kakouris Anastasios</a>, undergraduate student of Electrical & Computer Engineering Department of Aristotle University of Thessaloniki.</li>
            <li><strong>Advisor:</strong> <a href="https://issel.ee.auth.gr/staff/kyriakos-c-chatzidimitriou/?lang=el">Kyriakos Chatzidimitriou</a>, Post-Doctoral Researcher & Software Architect of ISSEL department.</li>
        </ul>
        <br> The source code of the project is available and can be found to the following GitHub repository:<br>
        <a href="https://github.com/AuthEceSoftEng/continuous-authentication-server">https://github.com/AuthEceSoftEng/continuous-authentication-server</a>
    </div>
</div>