<h1 class="main">
    Your Projects
</h1>


<div class="projects-wrapper">


    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 project-container" *ngFor="let project of projects;let i = index;" (mouseenter)="this.mouseOverProjectFlags[i]=true;"
            (mouseleave)="this.mouseOverProjectFlags[i]=false;">
            <div class="project">
                <h4 class="siteurl">
                    {{project.siteurl}}
                </h4>
                <p class="created-on">
                    <label class="created-on">Created On:</label>&nbsp;{{this.formatMyDate(project.date)}}
                    <br>
                    <label class="created-on">TrackCode:</label>&nbsp;{{project.track_code}}
                </p>
                <div [ngClass]="{ 'display-none': mouseOverProjectFlags[i], 'project-action-container': true  }">
                    <img src="../assets/img/projects/clicker.png" style="margin-top:15px; width:50px; height:50px;">
                </div>
                <div [ngClass]="{ 'display-none': !mouseOverProjectFlags[i], 'project-action-container': true  }">
                    <div class="row" style="margin-left:0px;margin-right:0px;">
                        <div class="col-lg-5 col-md-5 col-sm-5 project-action-wrapper" (click)="loadProject(i)">
                            <span class="project-action">
                                <img src="../assets/img/projects/view.png" class="project-action-img">
                            </span>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 project-action-wrapper" (click)="viewScript(i)">
                            <span class="project-action">
                                <img src="../assets/img/projects/brackets.png" class="project-action-img">
                            </span>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="delete-project-wrapper">
                        <img (click)="deleteProject(i)" src="../assets/img/projects/cross.png" style="margin-top:0px;margin-bottom:10px;cursor:pointer;width:25px;height:25px;">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 project-container" (click)="createProjectModal()">
            <div class="project" style="cursor: pointer;">
                <br>
                <br>
                <br>
                <h4 class="plus-sign">
                    +
                </h4>
                <h4 class="add-project">
                    Add Project
                </h4>
            </div>
        </div>
    </div>
</div>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Modals Here~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


<!-- Create a project modal -->
<div class="modal" id="viewScriptModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="text-align:center;font-style:italic;">Copy&Paste this to your index.html &lt;head&gt; tag.</h4>
            </div>
            <div class="modal-body">
                <div class="my-snippet-container">
                    <span class="code-comments">&lt;!--Keystroke Dynamics Script Start--&gt;</span>
                    <code>{{viewScriptModalSnippet}}</code>
                    <span class="code-comments">&lt;!--Keystroke Dynamics Script End--&gt;</span>
                </div>
            </div>
            <div class="modal-footer">
                <span [ngClass]="{'display-none':!copied}" style="font-style:italic;">Copied to clipboard.</span>
                <button type="button" class="btn btn-primary" ngxClipboard [cbContent]="viewScriptModalSnippet" (cbOnSuccess)="copiedOnSuccess()">
                    <i class="fa fa-clipboard" aria-hidden="true"></i>&nbsp;Copy</button>
            </div>
        </div>
    </div>
</div>

<!-- Create a project modal -->
<div class="modal" id="createProjectModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" style="text-align:center;">New Project</h3>
            </div>
            <div class="modal-body">
                <p style="font-style:italic;">Please provide us with the domain name of your site, in which you want to enable keyguard authentication.</p>
                <br>
                <label>Domain Name
                    <small style="font-style:italic;">(without www prefix or http/https)</small> :</label>
                <input class="form-control" placeholder="example.com" [(ngModel)]="theNewProjectSiteUrl">
                <div class="help-block" *ngIf="createTheProjectClicked && ( theNewProjectSiteUrl == '' || theNewProjectSiteUrl == undefined)">
                    Domain Name is required.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="createTheProject()">Save changes</button>
            </div>
        </div>
    </div>
</div>