<!-- main app container -->



<div id="mywrapper">

    <topnavbar></topnavbar>

    <div class="container">
        <alert></alert>
        <router-outlet></router-outlet>
    </div>


    <div class="well well-sm" id="mywell" align="center">
        <a [routerLink]="['/about']">About</a> &nbsp; &nbsp; &nbsp;<span> <img src="assets/img/github_icon.png" width="18" height="18" class="d-inline-block align-top" alt=""> </span>
        <a href="https://github.com/AuthEceSoftEng/continuous-authentication-server">Repo</a>
        <br>
        <p>KeyGuard - Continuous Authentication With Keystroke Dynamics - © 2017 Created By Kakouris Anastasios.</p>
        Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
            target="_blank">CC 3.0 BY</a>
    </div>

</div>