<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">KeyGuard</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--Show always  -->
                <li><a routerLink="/home" routerLinkActive="active">Home </a></li>
                <!--Show if user is logged in  -->
                <li *ngIf="authService.isUserLoggedIn()" ><a [routerLink]="['/myprofile']" routerLinkActive="active">Profile</a></li>
                <li *ngIf="authService.isUserLoggedIn()" ><a [routerLink]="['/projects']" routerLinkActive="active">Projects</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!--Show always  -->
                <li ><a routerLink="/learn-more" routerLinkActive="active">Learn More</a></li>
                <!--Show if user is logged out  -->
                <li *ngIf="!authService.isUserLoggedIn()" ><a routerLink="/login" routerLinkActive="active">Login</a></li>
                <li *ngIf="!authService.isUserLoggedIn()" ><a routerLink="/register" routerLinkActive="active">Register</a></li>
                <!--Show if user is logged in  -->
                <li *ngIf="authService.isUserLoggedIn()" ><a id="logoutHrefID" [routerLink]="['/login']">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
